# /etc/default/paperclip-heartbeat

GITHUB_REPOSITORY=moyujingC/mindsync
GITHUB_TOKEN=replace-with-github-token

PAPERCLIP_API_BASE=http://127.0.0.1:3100
PAPERCLIP_API_KEY=replace-with-paperclip-api-key
PAPERCLIP_COMPANY_ID=be191a6e-7447-4821-a93d-9114214c4a64
PAPERCLIP_ENGINEER_AGENT_ID=fd835fc1-7e14-487f-ba02-45eed5f6c221

RUNNER_HEARTBEAT_BRANCH=main
RUNNER_HEARTBEAT_WORKFLOW_FILE=aimandala-ci.yml
